body {
  margin: 0;
  height: 100vh;
  background-color: #fcfcfc !important;
}

.search-option-placeholder:hover {
  cursor: auto;
  background-color: inherit !important;
}

.logo-container:hover .logo-overlay {
  visibility: visible;
}
