body {
  margin: 0;
  height: 100vh;
  background-color: #fcfcfc !important;
}

.searchbar-no-options:hover {
  cursor: auto;
  background-color: inherit !important;
}

.select-node-preview li:hover {
  background-color: inherit !important;
}

.sigma-container {
  /* This prevents the graph from scaling oddly on small screens
     Just set a min width and use overflow
  */
  min-width: 600px;
}
